@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <div class="form-group">
        <label class="control-label">Min Age</label>
        <input class="form-control" type="number" name="a1" />
    </div>
    <div class="form-group">
        <label class="control-label">Max Age</label>
        <input class="form-control" type="number" name="a2" />
    </div>
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" name="uname" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<table class="table">
<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudenId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudenId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudenId })
            </td>
        </tr>
}
    </tbody>
</table>
